html {
  width: 100%;
}
body {
  width: 80%;
  margin: 0 auto;
}
.header__picture--top {
  width: 100%;
}
.header__picture--bottom {
  margin-bottom: 5em;
  width: 100%;
}
.header__title {
  margin-top: 1em;
  display: flex;
  flex-wrap: nowrap;
}
.header__titlePic--side {
  width: 40.8%;
  height: 100%;
  padding: 2em 0 0 0.2em;
}
.header__linkPic {
  padding: 0 0.5em 0 0.5em;
}
.header__link {
  text-decoration: none;
  font-size: 0.8em;
  color: black;
}
.header__nav {
  text-align: center;
  padding: 1em 0;
}
.header__pictureText {
  width: 25%;
  height: 3.5em;
  left: 38%;
  background-color: white;
  padding: 1em 0.2em 0.5em 0.2em;
  text-align: center;
  font-size: 1.2em;
  border-bottom: 0.1em solid lightgray;
  margin-top: -8em;
  position: absolute;
}
.main__ad--top {
  margin-left: 5%;
  float: left;
  width: 230px;
  height: 450px;
}
.article--small {
  font-size: 20px;
  max-width: 50%;
  height: 200px;
  display: flex;
  justify-content: right;
  margin: 0 5% 30px 50px;
  text-align: left;
  float: right;
}
.article--small__span {
  border-top: 1px solid gold;
  margin: 0 2em 0 0;
}
.article--small__image {
  float: right;
  max-width: 200px;
  height: 100%;
}
.article--small__paragraph {
  width: 70%;
  float: left;
  margin: 2em -2em 0 0;
  text-align: right;
  line-height: 1.5em;
}
.article--big {
  float: right;
  font-size: 20px;
  margin: 50px 5% 0 0;
  width: 40%;
}
.article--big__image {
  width: 100%;
  height: 280px;
}
.article--big__span {
  float: right;
  font-size: 20px;
  margin: 10px 0 0 0;
}
.article--big__line {
  margin-left: 14px;
}
.article--big__button {
  color: white;
  background-color: gold;
  padding: 5px 10px;
  float: right;
  margin: 15px 0 30px 0;
}
.article--big__text {
  width: 85%;
  margin: 40px 0 0 0;
  text-align: right;
}
.main__image--big {
  width: 100%;
  border-top: 40px solid black;
  border-bottom: 40px solid black;
}
.article--side {
  width: 270px;
  float: left;
  background-color: gray;
  margin: 50px 0 0 5%;
  height: 320px;
  text-align: center;
  padding: 10px;
}
.article--side__image {
  width: 250px;
  margin: 20px 0 15px;
}
.article--side__paragraph {
  margin-top: 20px;
}
.grayBoxFirst {
  clear: both;
  overflow: hidden;
  width: 100%;
  background-color: gray;
}
.grayBoxFirst--left {
  width: 45%;
  padding: 50px 0 0 0;
  float: left;
}
.grayBoxFirst__vid {
  width: 45%;
  margin-left: 23px;
  float: right;
}
.grayBoxFirst__vid__pic {
  width: 100%;
}
.grayBoxFirst__vid__paragraph {
  font-size: 12px;
  margin: 20px 0 20px 0;
  text-align: right;
}
.grayBoxFirst__vid__span {
  float: right;
  font-size: 10px;
}
span {
  font-size: 0.7em;
  color: gold;
}
