html {
  width: 100%;
}
body {
  width: 80%;
  margin: 0 auto;
  color: #444343;
}
.header__picture--top {
  width: 100%;
}
.header__picture--bottom {
  margin-bottom: 5em;
  width: 100%;
}
.header__title {
  margin-top: 1em;
  display: flex;
  flex-wrap: nowrap;
}
.header__titlePic--side {
  width: 40.8%;
  height: 100%;
  padding: 2em 0 0 0.2em;
}
.header__linkPic {
  padding: 0 0.5em 0 0.5em;
}
.header__link {
  text-decoration: none;
  font-size: 0.8em;
  color: black;
}
.header__nav {
  text-align: center;
  padding: 1em 0;
}
.header__pictureText {
  width: 25%;
  height: 3.5em;
  left: 38%;
  background-color: white;
  padding: 1em 0.2em 0.5em 0.2em;
  text-align: center;
  font-size: 1.2em;
  border-bottom: 0.1em solid lightgray;
  margin-top: -8em;
  position: absolute;
}
.main__ad--top {
  margin-left: 5%;
  float: left;
  width: 230px;
  height: 450px;
}
.article--small {
  font-size: 20px;
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: right;
  margin: 0 5% 30px 50px;
  text-align: left;
  float: right;
}
.article--small__span {
  border-top: 1px solid #9e914c;
  margin: 0 2em 0 0;
}
.article--small__image {
  float: right;
  max-width: 200px;
  height: 100%;
}
.article--small__paragraph {
  width: 70%;
  float: left;
  margin: 2em -2em 0 0;
  text-align: right;
  line-height: 1.5em;
}
.article--big {
  float: right;
  font-size: 20px;
  margin: 50px 5% 0 0;
  width: 40%;
}
.article--big__image {
  width: 100%;
  height: 280px;
}
.article--big__span {
  float: right;
  font-size: 20px;
  margin: 10px 0 0 0;
}
.article--big__line {
  margin-left: 14px;
}
.article--big__button {
  color: white;
  background-color: #9e914c;
  padding: 5px 10px;
  float: right;
  margin: 15px 0 30px 0;
}
.article--big__text {
  width: 85%;
  margin: 40px 0 0 0;
  text-align: right;
}
.main__image--big {
  width: 100%;
  border-top: 40px solid black;
  border-bottom: 40px solid black;
}
.article--side {
  width: 270px;
  float: left;
  margin: 50px 0 0 5%;
  height: 320px;
  text-align: center;
  padding: 10px;
}
.article--side__image {
  width: 250px;
  margin: 20px 0 15px;
}
.article--side__paragraph {
  margin-top: 20px;
}
#article--side--gray {
  background-color: #444343;
  color: #bebebe;
}
#article--side--white {
  border: 1px solid black;
}
.thirdArticle--side {
  width: 290px;
  float: left;
  margin: 100px 0 0 5%;
  height: 450px;
  text-align: center;
  background-color: #444343;
  color: #bebebe;
}
.thirdArticle--side__image {
  width: 250px;
  margin: 15px 0 15px;
}
.thirdArticle--side__paragraph {
  margin: 20px 0 30px 0;
  font-size: 20px;
}
.grayBoxFirst {
  clear: both;
  overflow: hidden;
  width: 100%;
  background-color: #444343;
  color: #bebebe;
}
.grayBoxFirst--left {
  width: 45%;
  padding: 50px 0 0 0;
  float: left;
}
.grayBoxFirst__vid {
  width: 45%;
  margin-left: 23px;
  float: right;
}
.grayBoxFirst__vid__pic {
  width: 100%;
}
.grayBoxFirst__vid__paragraph {
  font-size: 12px;
  margin: 20px 0 20px 0;
  text-align: right;
}
.grayBoxFirst__vid__span {
  float: right;
  font-size: 10px;
}
.grayBoxSecond {
  clear: both;
  overflow: hidden;
  width: 100%;
  background-color: #444343;
  color: #bebebe;
  margin-bottom: 40px;
}
.grayBoxSecond__span {
  float: left;
  margin: 30px 0 20px 70px;
}
#grayBoxSecond__articleSmall {
  float: left;
  margin: 50px 0 0 0;
  width: 50%;
}
.article--biggest {
  clear: both;
  overflow: hidden;
  margin: 40px 0;
  padding: 20px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.article--biggest__text {
  float: left;
  width: 45%;
  text-align: right;
  margin: 0 0 0 80px;
  line-height: 20px;
}
.article--biggest__image {
  float: right;
  width: 45%;
}
.article--biggest__link {
  color: #9e914c;
  text-decoration: none;
}
.article--biggest__title {
  font-size: 20px;
  margin: 30px 10px 40px 0;
}
.article--biggest__span {
  border-top: 1px solid #9e914c;
}
.sideArticle--biggest {
  background-color: #444343;
  width: 320px;
  height: 670px;
  float: left;
  margin: 0 0 0 5%;
  padding: 0 20px;
  color: #bebebe;
  text-align: center;
}
.sideArticle--biggest__image {
  width: 300px;
  height: 250px;
}
.sideArticle--biggest__paragraph {
  margin: 20px 0;
}
.sideArticle--biggest__line1 {
  float: right;
  margin-top: -30px;
}
.sideArticle--biggest__Smallparagraph {
  margin: 10px 0;
  text-align: right;
  width: 200px;
}
.sideArticle--biggest__smallArticle {
  height: 130px;
}
.sideArticle--biggest__smallArticle img {
  float: right;
}
.sideArticle--biggest__smallArticle p {
  float: left;
  width: 50%;
  text-align: right;
}
.lastSideArticle {
  width: 210px;
  height: 450px;
  background-color: #e9e9e9;
  float: left;
  margin: 0 0 0 5%;
  padding: 20px;
  text-align: center;
}
.lastSideArticle__paragraph {
  text-align: right;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.lastSideArticle__title {
  font-size: 25px;
}
#grayBoxSecond__articleBig {
  margin-left: 0;
  margin-bottom: 50px;
}
span {
  font-size: 18px;
  color: #9e914c;
}
.footer__grayBox {
  clear: both;
  overflow: hidden;
  width: 100%;
  height: 200px;
  background-color: #444343;
  text-align: center;
  color: #bebebe;
  margin-bottom: 50px;
}
.footer__grayBox__title {
  margin-top: 20px;
  font-size: 25px;
}
.footer__grayBox__paragraph {
  text-align: center;
  margin-top: 20px;
}
.footer__grayBox--mail {
  background-color: white;
  width: 400px;
  height: 35px;
  padding: 5px;
  margin: 30px auto;
}
.footer__grayBox--mail--span {
  float: left;
  padding: 8px 20px;
  background-color: #9e914c;
  color: white;
}
.footer__grayBox--mail--pic {
  float: right;
}
.footer__title {
  text-align: center;
  font-size: 25px;
}
.rightFooter {
  width: 50%;
  float: right;
  margin: 40px 0 100px 0;
  border: 1px solid black;
}
.rightFooter__title {
  text-align: center;
  margin: 15px 0 50px 0;
  font-size: 20px;
}
.rightFooter__ImgContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.rightFooter__ImgContainer__image {
  width: 150px;
  height: 140px;
  text-align: center;
  margin: 0 15px 20px 15px;
}
.rightFooter__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.rightFooter__links a {
  margin: 20px 10px 15px 10px;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
