html {
	width: 100%;
}
body {
	width: 80%;
	margin: 0 auto;
}

.header {
	&__picture--top {
	width: 100%;
}
	&__picture--bottom  {
	margin-bottom: 5em;
	width: 100%;
}
	&__title  {
	margin-top: 1em;
	display: flex;
	flex-wrap: nowrap;	
}
	&__titlePic--side {
	width: 40.8%;
	height: 100%;
	padding: 2em 0 0 0.2em;	
}
	&__linkPic {
	padding: 0 0.5em 0 0.5em;
}
	&__link {
	text-decoration: none;
	font-size: 0.8em;
	color: black;
}
		
	&__nav {
	text-align: center;
	padding: 1em 0;
}
	&__pictureText {
	width: 25%;
	height: 3.5em;
	left: 38%;
	background-color: white;
	padding: 1em 0.2em 0.5em 0.2em;
	text-align: center;
	font-size: 1.2em;
	border-bottom: 0.1em solid lightgray;
	margin-top:-8em;
	position: absolute;
}
}

.main__ad--top {
	margin-left: 6%;
	float: left;
}

.article--small {
	font-size: 20px;
	max-width: 50%;
	height: 200px;
	display: flex;
	justify-content: right;
	margin:0 0 30px 50px;
	text-align: left;
	float: right;

	&__span {
	border-top: 1px solid gold;
	margin: 0 2em 0 0;
}
	&__image {
	float: right;
	max-width: 200px;
	height: 100%;
}
	&__paragraph {
	width: 50%;
	float: left;
	margin: 2em -2em 0 0;
	text-align: right;
	line-height: 1.5em;
}
}

.article--big {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	float: right;
	font-size: 20px;
	width: 60%;
	height: 450px;
	margin-top: 50px;

	&__image {
	width: 400px;
	height: 270px;
	margin-left: 190px;
	
}
	&__span {
	float: right;
	font-size: 20px;
	margin: 20px 60px 0 0;
}
	&__line {
		margin-left: 14px;
	
}
	&__paragraph {
		margin: 50px 140px 0 100px;
		text-align: right;
}
	&__button {
	color: white;
	background-color: gold;
	padding: 5px 10px;
	float: right;
	margin: 15px 140px 50px 0;
	
}	
}
.main__image--big {
	width: 100%;
	border-top: 2em solid black;
	border-bottom: 2em solid black;

}

.grayBox--first {
	width: 100%;
	height: 300px;
	background-color: gray;
	clear: both;
}

span {
		font-size: 0.7em;
		color: gold;
	}



