html {
  width: 100%;
}
body {
  width: 80%;
  margin: 0 auto;
}
.header__picture--top {
  width: 100%;
}
.header__picture--bottom {
  margin-bottom: 5em;
  width: 100%;
}
.header__title {
  margin-top: 1em;
  display: flex;
  flex-wrap: nowrap;
}
.header__titlePic--side {
  width: 40.8%;
  height: 100%;
  padding: 2em 0 0 0.2em;
}
.header__linkPic {
  padding: 0 0.5em 0 0.5em;
}
.header__link {
  text-decoration: none;
  font-size: 0.8em;
  color: black;
}
.header__nav {
  text-align: center;
  padding: 1em 0;
}
.header__pictureText {
  width: 25%;
  height: 3.5em;
  left: 38%;
  background-color: white;
  padding: 1em 0.2em 0.5em 0.2em;
  text-align: center;
  font-size: 1.2em;
  border-bottom: 0.1em solid lightgray;
  margin-top: -8em;
  position: absolute;
}
.main__ad--top {
  margin-left: 6%;
  float: left;
}
.article--small {
  font-size: 20px;
  max-width: 50%;
  height: 200px;
  display: flex;
  justify-content: right;
  margin: 0 0 30px 50px;
  text-align: left;
  float: right;
}
.article--small__span {
  border-top: 1px solid gold;
  margin: 0 2em 0 0;
}
.article--small__image {
  float: right;
  max-width: 200px;
  height: 100%;
}
.article--small__paragraph {
  width: 50%;
  float: left;
  margin: 2em -2em 0 0;
  text-align: right;
  line-height: 1.5em;
}
.article--big {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  float: right;
  font-size: 20px;
  width: 60%;
  height: 450px;
  margin-top: 50px;
}
.article--big__image {
  width: 400px;
  height: 270px;
  margin-left: 190px;
}
.article--big__span {
  float: right;
  font-size: 20px;
  margin: 20px 60px 0 0;
}
.article--big__line {
  margin-left: 14px;
}
.article--big__paragraph {
  margin: 50px 140px 0 100px;
  text-align: right;
}
.article--big__button {
  color: white;
  background-color: gold;
  padding: 5px 10px;
  float: right;
  margin: 15px 140px 50px 0;
}
.main__image--big {
  width: 100%;
  border-top: 2em solid black;
  border-bottom: 2em solid black;
}
.grayBox--first {
  width: 100%;
  height: 300px;
  background-color: gray;
  clear: both;
}
span {
  font-size: 0.7em;
  color: gold;
}
