@font-face {
    font-family: NotoKufiArabic-Bold;
    src: url(../fonts/NotoKufiArabic-Bold.ttf);
}


@font-face {
	font-family: NotoNaskhArabic-Bold;
    src: url(../fonts/NotoNaskhArabic-Bold.ttf);
}
@font-face {
    font-family: NotoNaskhArabic-Regular;
    src: url(../fonts/NotoNaskhArabic-Regular.ttf);
}

@font-face {
	 font-family: NotoSerif-Regular;
    src: url(../fonts/NotoSerif-Regular.ttf);
}
@font-face {
	font-family: NotoKufiArabic-Regular;
    src: url(../fonts/NotoKufiArabic-Regular.ttf);
}










.header {

	&__picture--top {
		width: 100%;
	}

	&__picture--bottom  {
	margin-bottom: 5em;
	width: 100%;
	
}
	&__title  {
	margin-top: 1em;
	display: flex;
	flex-wrap: nowrap;	
}
	&__titlePic--side {
	padding: 2em 0 0 0.2em;	
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	height: 1px;
}
	&__titlePic--center {
		flex-grow: 2;
		width: 196px;
		height: 34px;

	}
	&__titlePics {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: baseline;
		width: 100%;
	}
	
	&__linkPic {
	padding: 0 0.5em 0 0.5em;
}
	&__link {
	text-decoration: none;
	font-size: 0.8em;
	color: black;
	color: #444343;
}	
	&__nav {
	font-family: NotoNaskhArabic-Bold;
	text-align: center;
	padding: 1em 0;
	font-size: 19px;

}
	&__pictureText {
	width: 30%;
	height: 100px;
	left: 35%;
	background-color: white;
	padding: 20px 0 0 0;
	text-align: center;
	border-bottom: 0.1em solid lightgray;
	margin-top: -170px;
	position: absolute;
	font-family: NotoKufiArabic-Bold;


	p {
		font-size: 20px;
		line-height: 30px;
		color: #444343;
	}

}
}

.main__ad--top {
	margin-left: 5%;
	float: left;
	width: 300px;
	height: 530px;
}

.article--small {
	font-size: 21px;
	width: 410px;
	height: 200px;
	display: flex;
	justify-content: right;
	margin:20px 5% 30px 0;
	text-align: left;
	float: right;
	clear: right;
	font-family: NotoKufiArabic-Bold;
	color: #444343;

	&__span {
	border-top: 1px solid #9e914c;
	margin: 0 20px 0 0;
}
	&__image {
	
	width: 180px;
	height: 100%;
}
	&__paragraph {
	width: 400px;
	margin: 2em -2em 0 0;
	text-align: right;
	line-height: 1.5em;
}
	&__button {
		background-color: #9E914C;
		padding: 1px 12px;
		color: white;
		font-size: 10px;
		font-family: NotoSerif-Regular;
		
	}
}

.article--big {
	
	float: right;
	clear: right;
	font-size: 20px;
	margin: 50px 5% 30px 0;
	width: 470px;
	font-family: NotoKufiArabic-Bold;

	&__image {
	width: 470px;
	height: 350px;

}
	&__span {
	float: right;
	font-size: 20px;
	margin: 10px 0 0 0;
}
	&__line {
		margin-left: 14px;
}
	&__button {
	color: white;
	background-color: #9e914c;
	padding: 2px 10px;
	float: right;
	margin: 15px 0 30px 0;
}	
	&__text {
		width: 85%;
		margin: 40px 0 0 0;
		text-align: right;
	}
}

.main__image--big {
	border-top: 20px solid black;
	border-bottom: 20px solid black;
	width: 100%;
	height: 500px;
}





.article--side {
	width: 300px;
	float: left;
	margin: 50px 0 0 5%;
	height: 400px;
	text-align: center;
	padding: 20px 10px 10px 10px;
	font-family: NotoKufiArabic-Bold;

	&__image {
		width: 280px;
		margin: 30px 0 30px 0;
	}

	&__paragraph {
		margin-top: 20px;
		line-height: 25px;
	}
}
#article--side--gray {
	background-color: #444343;
	color: white;
	font-family: NotoSerif-Regular;
	 p {
	 	font-family: NotoKufiArabic-Bold;
	 }
}

#article--side--white {
	border: 1px solid black;
}



.thirdArticle--side {
	font-family: NotoKufiArabic-Bold;
	width: 323px;
	float: left;
	clear: left;
	margin: 50px 0 0 5%;
	height: 460px;
	text-align: center;
	background-color: #121212;
	color: #bebebe;
		&__image {
			width: 300px;
			height: 260px;
			margin: 15px 0 15px;
		}
		&__paragraph {
			margin: 20px 0 20px 0;
			line-height: 25px;
		}
		&__span {
			border-bottom:1px solid #9E914C;
			padding-bottom: 2px;
		}
}




.grayBoxFirst {
	font-family: NotoKufiArabic-Bold;
	clear: both;
	overflow: hidden;
	width: 100%;
	height: 600px;
	background-color: #121212;
	color: #bebebe;
	
	&--left {
		width: 45%;
		padding: 70px 0 0 0;
		float: left;
		
	}

	h1 {
		float: right;
		font-size: 20px;
		font-family: NotoKufiArabic-Bold;
		color: white;
		margin: 20px 9% -20px 0;
	}
	&__vid {
		width: 40%;
		margin: 0 20px 20px 20px ;
		float: right;


	&__pic {
			width: 100%;
		}

	&__paragraph {
			font-size: 15px;
			margin: 20px 0 20px 0;
			text-align: right;
		}

	&__span {
			float: right;
			font-size: 13px;
		}
	}
}

.grayBox__mobileOnly {
	display: none;
	width: 100%;
	background-color: #121212;
	padding: 20px 0;
	height: 400px;
	color: #bebebe;
	margin-bottom: 20px;
	clear: both;
}
.grayBoxSecond {
	font-family: NotoKufiArabic-Bold;
	clear: both;
	overflow: hidden;
	background-color: #121212;
	color: #bebebe;
	margin-bottom: 40px;
	padding: 0 30px;
	width: 100%;
	&__span {
		float: left;
		clear: left;
		margin: 0 0 20px 105px;
		border-bottom:1px solid #9E914C;
		padding-bottom: 8px;
	}
	h1 {
		float: right;
		font-size: 20px;
		font-family: NotoKufiArabic-Bold;
		color: white;
		margin: 20px 9% -20px 0;
	}
}

#grayBoxSecond__articleSmall {
			color: white;
			float: left !important;
			clear: left;
			margin: 50px 0 25px 0;
			width: 400px;
		}


.article--biggest {
	clear: both;
	overflow: hidden;
	margin: 40px 0;
	padding: 20px 0;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	color: #121212;

	&__text {
		float: left;
		width: 50%;
		text-align: right;
		margin: 10px 0 0 80px;
		line-height: 23px;	
		font-family: NotoNaskhArabic-Regular;
	}
	&__paragraph {
		line-height: 20px;
	}
	&__image {
		float: right;
		width: 45%;
	}

	&__link {
		color: #9e914c;
		text-decoration: none;
	}

	&__title {
		font-size: 25px;
		margin: 30px 10px 40px 0;
		font-family: NotoKufiArabic-Bold;
	}
	&__span {
		border-top: 1px solid #9e914c;
	}

}

.sideArticle--biggest {
	background-color: #121212;
	width: 300px;
	height: 685px;
	float: left;
	margin: 0 0 0 5%;
	padding: 0 20px;
	color: #bebebe;
	text-align: center;
	font-family: NotoKufiArabic-Bold;

	&__logo {
		float: left;
		margin-bottom: 15px;
		margin-top: 10px;
		width: 160px;
		height: 34px;
	}

	&__image {
		width: 300px;
		height: 250px;
	}

	&__paragraph {
		margin-top: 18px;

	}
	&__line1 {
		float: right;
		margin-top: -50px;
	}
	&__Smallparagraph {
		margin: 10px -20px 30px 20px;
		text-align: right;
		width: 200px;
	}

	&__smallArticle {
		
		height: 130px;
		margin-left: 20px;
		img {
			float: right;

		}
		p {
			float: left;
			width: 50%;
			text-align: right;
		}

	}
}


.lastSideArticle{
	width: 250px;
	height: 430px;
	background-color: #e9e9e9;
	float: left;
	margin: 0 0 0 5%;
	padding: 20px;
	text-align: center;
	color: #121212;

	&__paragraph {
		text-align: right;
		padding: 10px;
		border-bottom: 1px solid lightgray;
	}
	&__title {
		font-size: 25px;
		font-family: NotoKufiArabic-Bold;
	}

}

#grayBoxSecond__articleBig {
	
	margin-bottom: 50px;
}

span {
		font-size: 18px;
		color: #9e914c;
		font-family: NotoNaskhArabic-Bold;
	}

.footer__grayBox {
	clear: both;
	overflow: hidden;
	width: 100%;
	height: 220px;
	background-color: #444343;
	text-align: center;
	color: white;
	margin-bottom: 50px;

	&__title{
		margin-top: 20px;
		font-size: 25px;
		font-family: NotoKufiArabic-Bold;
	}
	&__paragraph {
		margin: 0 auto;
		margin-top: 20px;
		width: 500px;
	}
	&--mail {
		background-color: white;
		width: 600px;
		height: 35px;
		padding: 5px;
		margin: 30px auto;
		&--span {
			float: left;
			padding: 8px 20px;
			background-color: #9e914c;
			color: white;
		}
		&--pic {
			float: right;
		}
	}

}

.footer__title {
	text-align: center;
	font-size: 25px;
	font-family: NotoKufiArabic-Bold;
}
.rightFooter {
	width: 48%;
	float: right;
	margin: 40px 0 50px 0;
	
	&__title {
		text-align: center;
		margin: 15px 0 50px 0;
		font-size: 20px;
		font-family: NotoKufiArabic-Bold;
	}
	&__ImgContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		&__image {
		width: 140px;
		height: 130px;
		text-align: center;
		margin:0 10px 30px 10px;
	}
	}

	&__links {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-right: 45px;
		a {
			margin: 20px 10px 15px 10px;
			text-decoration: none;
			color: black;
			white-space: nowrap;
		}
	}
}


.leftFooter {
	width: 48%;
	float: left;
	margin: 40px 0 50px 0;
	
	&__title {
		text-align: center;
		margin: 15px 0 50px 0;
		font-size: 20px;
		font-family: NotoKufiArabic-Bold;
	}
	&__ImgContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		&__image {
		width: 140px;
		height: 130px;
		text-align: center;
		margin:0 10px 30px 10px;
	}
	}

	&__links {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-right: 45px;
		a {
			margin: 20px 10px 15px 10px;
			text-decoration: none;
			color: black;
			white-space: nowrap;
		}
	}
}

.footer--bottom {
	clear: both;
	margin-bottom: 50px;
	text-align: center;
	font-family: NotoNaskhArabic-Bold;

&__spans {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 30px;
	justify-content: center;
	align-items: baseline;
	

}
	&__span {
	padding: 7px 10px;
	border:1px solid #9e914c;
	font-size: 15px;
	color: black;
	margin:8px 10px 0 0;

	
}
&__paragraph {
	text-align: center;
	margin-bottom: 40px;
	
}
&__imgRight {
	float: right;
	margin: 0 5% 200px 0;
}
&__imgLeft {
	float: left;
	margin: 0 0 200px 5% ;
	width: 160px;
	height: 25px;
	
}
}

#footer--bottom__spanFirst {
	color: #9e914c;
	margin-right: 10px;
}
#footer--bottom__spanLast {
	color: black;
} 

.rightFooter__ImgContainer__image, .leftFooter__ImgContainer__image {
		margin-bottom: 40px;
		font-size: 13px;
		span {
			font-size: 10px;
		}
}

#title {
	margin: 0 auto;
}

.tacke__mobileOnly {
	display: none;
	margin: 0 auto;
}

#article--big__mobileOnly, .footer--bottom__facebook, .mobileMeny__pic, .mobile__menu--item, .mobile__menu--bottom, #mobileMenu--dropdown--invisible, .mobileMenu--bottom{
	display: none;
}









	@media screen and (max-width: 1920px) {




.rightFooter, .leftFooter {
	width: 48%;
}

.rightFooter__ImgContainer__image, .leftFooter__ImgContainer__image, .rightFooter__pic, .leftFooter__pic {
 width: 200px;
 height: 180px;
}

.lastSideArticle, .sideArticle--biggest, .grayBoxSecond__articleSmall, .thirdArticle--side, .article--side, .main__ad--top, #grayBoxSecond__articleSmall {
	margin-left: 9%;
} 

.grayBoxFirst--left {
	margin-left: 4%;
}
	
	}





	@media screen and (max-width: 1400px) {

		 .rightFooter__pic, .leftFooter__pic, .rightFooter__ImgContainer__image, .leftFooter__ImgContainer__image {
			 width: 150px;
			 height: 120px;
		}

	
		.article--biggest {
			&__image {
				width: 40%;
			}
			&__text {
			line-height: 15px;
		}
		}
	

	#footer--bottom__pics {
		width: 160px;
		height: 25px;
	}



	}

	@media screen and (max-width: 1250px) {

			#grayBoxFirst--right__bigArticle {
			margin: 0 25% 0 25%;
		}

		.grayBoxFirst--left {
			width: 80%;
			margin-left: 7%;
		}

		#grayBoxSecond__articleBig, #grayBoxSecond__articleSmall {
			margin-right: 0;
			margin-left: 0;
		}

	}







	@media screen and (max-width: 1100px) {



			.article--side {
		width: 180px;
		height: 300px;
		&__image {
		width: 180px;
		}
	}

				.lastSideArticle {
		width: 150px;
		height: 370px;
		font-size: 10px;
		&__title {
			font-size: 20px;
		}
	}

			.thirdArticle--side {
		width: 200px;
		height: 310px;
		p {
		line-height: 15px;	
		}
		&__paragraph {
			margin-bottom: 15px;
		}
		line-height: 10px;
		&__image {
			width: 170px;
		}
	}
			.article--big {
			width: 350px;
			&__image {
				height: 250px;
				width: 350px;
			}
			&__span {
				margin-right: 15%;
			}
		}

			.article--small {
			width: 350px;
			margin-right: 5%;
		}

			.rightFooter__pic, .leftFooter__pic, .rightFooter__ImgContainer__image, .leftFooter__ImgContainer__image {
			 width: 100px;
			 height: 80px;
			 margin: 25px 0 10px 0;
		}

		.sideArticle--biggest {
			font-size: 11px;
		width: 180px;
		height: 450px;
		margin: 0 0 0 5%;
		&__image {
			width: 170px;
			height: 160px;
		}
		&__smallArticle {
			height: 80px;
			img {
				height: 70px;
				width: 80px;
			}
		}
		&__line1 {
			display: none;
		}
	}

	#sideArticle--biggest__lines {
		display: none;
	}
	.main__ad--top {
		width: 170px;
		height: 350px;
	}
		.article--small {
			
			margin-bottom: 10px;
		&__image {
			width: 130px;
			height: 150px;
		}
		&__paragraph {
			width: 170px;
		}
	}

		#grayBoxSecond__articleBig {
			margin-bottom: 10px;
		}

		.rightFooter__links, .leftFooter__links {
			margin-top: 70px;
		}

		.rightFooter__title, .leftFooter__title {
			margin: 0;
		}

		.footer__grayBox {
			margin-bottom: 20px;
		}

		.rightFooter , .leftFooter{
			margin-top: 20px;
			margin-bottom: 10px;
		}
}


@media screen and (max-width: 960px)  {
.header__pictureText {
	
		p {
		font-size: 11px;
		line-height: 13px;

	}
}

.article--biggest__paragraph {
	line-height: 13px;
}

.article--biggest__title {
	font-size: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
	font-family: NotoKufiArabic Bold;
	    
}

	body, span, .article--small, .article--big, .thirdArticle--side, header {
		font-size: 12px !important ;
	}

	.grayBoxSecond {
			padding: 0 25%;
		}
	#grayBoxSecond__articleSmall{
		margin-top: 0;
		height: 150px;
	}
	.article--big, #article--side--gray {
		margin-top: 20px;
	}

	.article--small {
		height: 160px;
	}
}


@media screen and (max-width: 870px) {

	.lastSideArticle, .sideArticle--biggest, .grayBoxSecond__articleSmall, .thirdArticle--side, .article--side, .main__ad--top, #grayBoxSecond__articleSmall {
	margin-left: 1%;
} 

.grayBoxFirst--left {
	margin-left: 8%;
}

.article--big, .article--small, .article--biggest {
	margin-right: 1%;
}

	.header__pictureText {
		width: 50%;
		left: 25%;
		margin-top: -80px;
		height: 40px;
	}

}


@media screen and (max-width: 740px) {

	  .main__ad--top, .main__image--big, .article--side, .thirdArticle--side, .grayBoxFirst--left, #grayBoxSecond__articleSmall, .article--biggest, #footer--bottom__pics, .footer--bottom__paragraph {
			display: none;
		}

	.article--small, .article--big, #grayBoxFirst--right__bigArticle {
		margin-right: 20%;
		margin-left: 20%;
	}

	#grayBoxFirst--right__bigArticle {
		margin-top: 20px;
	}

	.grayBoxSecond {
		padding: 0 20%;
	}

		.lastSideArticle {
		width:280px;
		height: 330px;
		margin-bottom: 30px;
		margin-left: 20%;
		margin-right: 20%;
	}

	#article--big__mobileOnly {
		display: inherit;
	}

	.sideArticle--biggest {
		display: none;
	}

	.grayBox__mobileOnly {
		display: inherit;
	}

	}


@media screen and (max-width: 650px) {


	.grayBoxSecond {
		padding: 0 18%;
	}

	.footer__grayBox {
		height: 180px;
		&__title {
		font-size: 15px;
	}
		&__paragraph {
			width: 70%;
			margin-right: 15%;
			margin-left: 15%;
			margin-top: 20px;
		}
		&--mail {
			height: 25px;
		}
		&--mail--pic {
			width: 40px;
			height: 27px;
		}
		&--mail--span {
			width: 23px;
			height: 10px;
			margin-top: -1px;
		}
	}

	.lastSideArticle, .article--small{
		margin-right: 15%;
		margin-left: 15%;
	}

.footer__title, .leftFooter__title, .rightFooter__title {
	font-size: 15px;
}
.header__pictureText {
	font-size: 10px;
}

	.leftFooter, .rightFooter {
			float: none;
			width: 100%;

		}
}

@media screen and (max-width: 550px) {

	.grayBox__mobileOnly {
		height: 400px;
	}

	.grayBoxFirst, .grayBoxSecond {
		height: 410px;
	}

	body {
		width: 95%;
	}
		.article--small {
		margin-right: 5%;
		width: 90%;
		height: 170px;
		margin-top: 10px;
	}
	
		
		.footer--bottom__facebook {
		display: inherit;
		width: 250px;
		height: 40px;
		margin: 0 auto;
	}
}

	

@media screen and (max-width: 480px) {

	.header__pictureText {
		p {
		font-size: 10px;
		line-height: 10px;
	}
	}

	.tacke__mobileOnly {
		display: inherit;
		clear: both;
	}
	.grayBoxSecond {
		padding-right: 35px;
	}

	.article--big, #grayBoxFirst--right__bigArticle, #grayBoxSecond__articleBig {
		margin-bottom: 130px;
	}

	.lastSideArticle {
		width: 220px;
		height: 320px;
	}


		.article--big__image, .article--big, #grayBoxFirst--right__bigArticle, #grayBoxSecond__articleBig, #grayBoxSecond__pic {
		width: 250px;
		height: 200px;
	}


		.header__picture--top, .header__titlePic--side, .header__nav {
			display: none;
		}

		 .mobile__menu--bottom {
			display: inherit;
		}
	
	.header__titlePic--center {
		height: 35px;
		width: 200px;
		padding: 7px 15px;

	}

	.header__pictureText {
			margin-top: -60px;
		}

	.mobileMeny__pic {
		display: inherit;
		width: 100%;
		height: 250px;
		margin-bottom: 30px;
		
	}

	#lupa {
		height: 29px;
	}

	.header__picture--bottom {
		display: none;
	}
		.mobile__menu--item {
			display: inherit;
			padding: 10px;
		border: 1px solid #9e914c;
			
		}
	.mobile__menu {
			width: 100%;
			display: flex;
			justify-content:space-between;
			align-items: center;
			border: 1px solid #9e914c;
				}

	.mobileMenu--bottom {
						display: flex;
						justify-content: space-around;
						border-bottom: 1px solid lightgray;
						border-left: 1px solid lightgray;
						border-right: 1px solid lightgray;
						background-color: #e9e9e9;
						span:first-child {
							border-right: 1px solid lightgray;
							padding-right: 20%;
						}
					&__item {
						padding: 18px;
					}
				}

				.visible {
					display: inherit !important;
				}

				.mobileMenu--dropdown__1, .mobileMenu--dropdown__2, .mobileMenu--dropdown__3, .mobileMenu--dropdown__4, .mobileMenu--dropdown__5 {

						display: flex;
						justify-content: space-around;
						border-bottom: 1px solid lightgray;
						border-left: 1px solid lightgray;
						border-right: 1px solid lightgray;
						span:first-child {
							border-right: 1px solid lightgray;
							padding-right: 20%;
						}

					}
			#lines {
				cursor: pointer;
			}

			#title {
				display: none;
			}

		}

		




@media screen and (max-width: 400px) {

	
	#grayBoxSecond__articleBig {
			margin-right: -10%;
	}
	.lastSideArticle {
		margin-left: 5%;
		margin-right: 5%;
	}

	
.footer__grayBox--mail {
	width: 250px;
}
.header__titlePic--center {
		height: 20px;
		width: 120px;
		padding: 7px 15px;
}

.mobileMeny__pic {
	height: 200px;
}

.sideArticle--biggest {
	margin-left:10% ;
}
.leftFooter__pic {
		width: 80px;
	height: 60px;
}

.leftFooter__ImgContainer__image, .rightFooter__ImgContainer__image {
		width: 80px;
	height: 60px;
	margin: 15px 5px;
}

.rightFooter__pic {
	width: 80px;
	height: 60px;
}

.Footer__ImgContainer {
	justify-content: center;
}

.mobileMenu--bottom {
	span:first-child {					
	padding-right: 15%;
	}
}

.mobileMenu--dropdown__1, .mobileMenu--dropdown__2, .mobileMenu--dropdown__3, .mobileMenu--dropdown__4, .mobileMenu--dropdown__5 {
span:first-child {
	padding-right: 15%;
}
}

}

@media screen and (max-width: 350px) {


.article--big, #grayBoxFirst--right__bigArticle  {
		margin-left: 5%;
		margin-right: 5%;
	}
}


